aiohttp==2.3.6
async-timeout==2.0.0
asynctest==0.11.1
attrs==17.3.0
chardet==3.0.4
marshmallow==2.15.0
multidict==3.3.2
pluggy==0.6.0
py==1.5.2
pytest==3.3.1
pytest-aiohttp==0.3.0
six==1.11.0
yarl==0.16.0
